/* ================================ General Styles ================================ */
html, body, main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
    letter-spacing: 1.5px;
}

* {
    box-sizing: border-box;
    user-select: none;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-image: url("../images/bg/bg-2.jpg");
    background-repeat: no-repeat;
    opacity: .75;
    z-index: 1;
}

.flex-container {
    display: flex;
    width: 100%;
}

h1 {
    font-size: 80px;
    margin: 0;
}

h2 {
    font-size: 30px;
    margin: 0;
}

h3 {
    font-size: 25px;
    margin: 0;
}

.panel {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    opacity: 1;
    width: 100%;
    height: 0;
    z-index: 2;
}

.icon-lg {
    width: 60px;
    height: 60px
}

.icon-sm {
    width: 40px;
    height: 40px;
}

.display-none {
    display: none !important;
}

/******************* Top Panel  *********************/
#top-panel-bg {
    top: 0%;
    box-shadow: 0px 170px 90vw 40vw rgba(0, 0, 0, .8);
}

#top-panel {
    flex-direction: row;
    flex: 1 1 auto;
}

/******************* Time and date  *********************/

#time-date {
    flex-direction: column;
}

#date {
    margin-top: 6%;
    margin-left: 35px;
}

#time {
    margin-top: 20px;
    margin-left: 25px;
}

/******************* Weather  *********************/
#weather {
    flex-direction: column;
    flex: 1 1 auto;
}

#current-weather {
    margin-top: 20px;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#current-temp-and-icon {
    align-items: center;
    vertical-align: center;
    align: center;
    justify-content: center;
    margin-bottom: 15px;
}

#current-temp {
    vertical-align: center;
    font-size: 60px;
    margin-right: 20px;
}

#current-icon {
    vertical-align: center;
}

#current-summary {
    align: center;
}

#daily-weather {
    flex-direction: row;
    flex-grow: 2;
    align-items: center;
    padding-right: 15px;
}

.day-weather {
    flex-direction: column;
    align-items: center;
}

.day-weather > h2 {
    margin-top: 50px;
    margin-bottom: 25px;
}

.day-weather > img {
    margin-bottom: 25px;
}

.day-weather > h3 {
    margin-bottom: 10px;
}

/******************* Bottom Panel  *********************/
#bottom-panel-bg {
    bottom: 0%;
    box-shadow: 0px -200px 100vw 40vw rgba(0, 0, 0, .8);
}

#calendar {
    position: absolute;
    bottom: 0;
    left: 5%;
    flex-direction: column;
    width: 90%;
    height: 400px;
    z-index: 2;
}

.calendar-event {
    flex-direction: row;
    border-top: 3px solid rgba(255, 255, 255, .2);
    vertical-align: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.calendar-date {
    flex-direction: column;
    flex-grow: 1;
    width: 15%;
    height: 100%;
    vertical-align: center;
    margin-left: 20px;
    align: center;
    align-items: center;
}

.calendar-date > h2 {
    font-size: 20px;
}

.calendar-date > h3 {
    font-size: 15px;
}

.calendar-time {
    flex-grow: 1;
    height: 100%;
    width: 15%;
    text-align: center;
    vertical-align: center;
    margin-left: 20px;
    transform: translateY(33%);
    flex-direction: column;
}

.calendar-time > h2 {
    flex-grow: 1;
    font-size: 18px;
    vertical-align: center;
    text-align: center;
}

.calendar-event-name {
    flex-grow: 5;
    width: 70%;
    height: 100%;
    margin-left: 50px;
    transform: translateY(33%);
    flex-direction: column;
}

.calendar-event-name > h2 {
    font-size: 18px;
}

iframe {
    position: absolute;
    left: 0;
    bottom: 0;
}